.container{
    width: 80%;
    margin: auto;
}

.product-title{
    text-align: center;
    font-size: 34px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 15px;
}


/* Responsive Query */

@media only screen and (max-width:576px) {
    .product-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width:992px) {

    .product-container{
        grid-template-columns: repeat(2, 1fr);
    }
}